.inner{
    width: 150px;
    height: 150px;
    border: 1px solid white;
    color: aliceblue;
    background-color: crimson;
    line-height: 150px;
    text-align: center;
    display: inline-block;
}